.login_form_wrapper{
    width: 270px;
    height: 335px;
    margin:auto;
    background-color:  rgb(248,237,209, 0.6);
    border-radius: 15px;
    display: grid;
    /* with two columns of same width*/
    grid-template-columns: 1fr 1fr;
    padding: 5vh 15px;
}
.login_form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    top: 30%;
    left: 50%;
    padding: 15px 30px;
}
.login_form h2{
    margin: 0;
    padding: 0 0 20px;
    color:rgb(71,72,67);
    text-align: center;
    font-family:"Roboto";
    font-size: 36px;
    line-height: 48px;
    text-align: top;
    font-style: normal;
    font-weight: normal;
}

.login_form label{
    margin: 0;
    padding: 0;
    font-weight: 600px;
    color:rgb(71,72,67);
    font-family:"Roboto";
}

.login_form input{
    width: 35vh;
    margin-bottom: 20px;
}

.login_form input[type = email],
.login_form input[type = password]{
    border: none;
    border-bottom: 1px solid rgb(71,72,67);
    background: transparent;
    outline: none;
    height: 30px;
    color: rgb(71,72,67);
    font-size:15px;
}

.login_form button[type = submit]{
    height: 30px;
    width: 20vh;
    color: #ffffff;
    font-size: 17px;
    font-family:"Roboto";
    background: rgb(216,138,138);
    cursor: pointer;
    border-radius: 6px;
    border:none;
    outline: none;
    margin-top: 15%;
    margin-left: 25%;
}
.login_form button[type = submit] label{
    font-family:"Roboto";
    color: rgb(248,237,209);
}
.login_form button[type = submit]:hover {
    background-color: rgba(235, 152, 152);
  }