<div class="login_form_wrapper">
<div class="login_form">
    <h2 class = "login_title">Autentificare</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group">
        <label for="username">Email*:</label>
        <input type="email" class="form-control" formControlName="username" id="username" autocomplete="off">
        <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Username is required</div>
      </div>
      <div class="form-group">
        <label for="pwd">Parolă*:</label>
        <input type="password" class="form-control" formControlName="password" id="login-pwd" autocomplete="off">
        <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password is required</div>
      </div>
      <button type = "submit" [disabled]="loginForm.invalid">Autentifică-te</button>
      <div *ngIf="invalidLogin" class="error">
        <div>Invalid credentials.</div>
      </div>
    </form>
</div>
