.row{
    display: flex;
    justify-content: center;
}

.column{
    margin-left: 10px;
    margin-right: 10px;
}
.column:nth-child(1){
}
.column:nth-child(2){
// flex-basis: 50px;
}

.page-title{
    margin-top: 8px;
    text-align: center;
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 590;
    font-size: 70px;
    line-height: 86px;
    text-align: center;
  
    color: #3E3B3B;
  
    text-shadow: 0px 15px 50px rgba(112, 5, 72, 0.7);
  }