<header class = "app-header">
    <div fxLayout = "row" class = "header-wrapper">
        <div class = "menu-container">
            <div id="nav-icon2">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <h1 class = "title-container">{{title}}</h1>
        <div class = "right-container">
            <span class = "welcome-message">Welcome, {{user}}</span>
            <img src = "..//../assets/images/down-arrow.svg" class = "navigation-arrow">
            <img src = "..//../assets/images/logout.svg" class = "logout">
        </div>
    </div>
</header>
