.fundraiser-card{
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(114, 114, 171, 0.4);
    opacity: 3px;
    margin-bottom: 10px;
}
.card-header-class{
    color:#000000;
    font-size: 20px;
    font-family:"Avant Garde";
}

.card-content-class{
    color:#000000;
    font-size: 15px;
    font-family:"Avant Garde";
}
.fundraiser-card:hover{
    -moz-box-shadow: 0 0 50px rgba(112, 5, 73, 0.5);
    -webkit-box-shadow: 0 0 50px rgb(112,5,72, 0.5);
    box-shadow: 0 0 50px rgb(112,5,72, 0.5);
}

.card-header-image{
    background-image: url(../../assets/images/charity.jpg);
    background-size: cover;
}